
 <style>
  body {
    background-color: white !important;
  }
 </style>

 <div>
  <div class='w-50 m-auto mt-0'>
    <%= image_tag('Logo.png') %>
  </div>
   <div class='flex-col'>
    <h1 class='my-3'>Upcoming Events</h1>
    <div class='flex justify-between gap-4 max-w-1'>
    <div class="w-1/3">
      <!--Card 1-->
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="max-w-1 max-h-2/3" src="https://source.unsplash.com/random" alt="randomIMG">
        <div class="px-2 py-2">
          <div class="font-bold text-xl mb-2">Mon, Nov 28 @ 10:00 AM</div>
          <p class="text-gray-700 text-base">
            Event Title
          </p>
        </div>
        <div class="flex px-6 pt-2 pb-2 inline justify-between">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">10 Going</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Join</span>

        </div>
      </div>


    </div>

    <div class="w-1/3">
      <!--Card 1-->
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="max-w-1 max-h-2/3" src="https://source.unsplash.com/random" alt="randomIMG">
        <div class="px-2 py-2">
          <div class="font-bold text-xl mb-2">Mon, Nov 28 @ 10:00 AM</div>
          <p class="text-gray-700 text-base">
            Event Title
          </p>
        </div>
        <div class="flex px-6 pt-2 pb-2 inline justify-between">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">10 Going</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Join</span>

        </div>
      </div>


    </div>

    <div class="w-1/3">
      <!--Card 1-->
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="max-w-1 max-h-2/3" src="https://source.unsplash.com/random" alt="randomIMG">
        <div class="px-2 py-2">
          <div class="font-bold text-xl mb-2">Mon, Nov 28 @ 10:00 AM</div>
          <p class="text-gray-700 text-base">
            Event Title
          </p>
        </div>
        <div class="flex px-6 pt-2 pb-2 inline justify-between">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">10 Going</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Join</span>

        </div>
      </div>


    </div>

    <div class="w-1/3">
      <!--Card 1-->
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="max-w-1 max-h-2/3" src="https://source.unsplash.com/random" alt="randomIMG">
        <div class="px-2 py-2">
          <div class="font-bold text-xl mb-2">Mon, Nov 28 @ 10:00 AM</div>
          <p class="text-gray-700 text-base">
            Event Title
          </p>
        </div>
        <div class="flex px-6 pt-2 pb-2 inline justify-between">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">10 Going</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Join</span>

        </div>
      </div>


    </div>

  </div>


  </div>


      </div>
</div>

<div>

  <h1>Events</h1>
    <ul>
      <% @events.each do |event| %>
        <li>
          <%= link_to event.name, event %>
        </li>
      <% end %>
    </ul>

  <br>

  <%= link_to 'New Event', new_event_path %>
</div>
