<div flex-col justify-center text-center mx-auto>
  <h1 class='text-center text-2xl text-yellow-700 mb-3'>Create an Event</h1>
  <div class='text-yellow-700'>
    <%= render "form", event: @event %>
  </div>

</div>
